<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>Admin_Login</servlet-name>
    <servlet-class>servlets.Admin_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_Login</servlet-name>
    <url-pattern>/adminlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>User_Login</servlet-name>
    <servlet-class>servlets.User_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_Login</servlet-name>
    <url-pattern>/userlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>User_Register</servlet-name>
    <servlet-class>servlets.User_Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_Register</servlet-name>
    <url-pattern>/userreg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Books_remove</servlet-name>
    <servlet-class>servlets.Books_remove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Books_remove</servlet-name>
    <url-pattern>/remove</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddBook</servlet-name>
    <servlet-class>servlets.AddBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBook</servlet-name>
    <url-pattern>/addbook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>View_Books</servlet-name>
    <servlet-class>servlets.View_Books</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>View_Books</servlet-name>
    <url-pattern>/viewbook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Buying_books</servlet-name>
    <servlet-class>servlets.Buying_books</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Buying_books</servlet-name>
    <url-pattern>/buybook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>receipt</servlet-name>
    <servlet-class>servlets.receipt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>receipt</servlet-name>
    <url-pattern>/buys</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>User_Remove</display-name>
    <servlet-name>User_Remove</servlet-name>
    <servlet-class>servlets.User_Remove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_Remove</servlet-name>
    <url-pattern>/User_Remove</url-pattern>
    <url-pattern>/deluser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Self_Remove</display-name>
    <servlet-name>Self_Remove</servlet-name>
    <servlet-class>servlets.Self_Remove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Self_Remove</servlet-name>
    <url-pattern>/Self_Remove</url-pattern>
    <url-pattern>/delself</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Passkey_change</display-name>
    <servlet-name>Passkey_change</servlet-name>
    <servlet-class>servlets.Passkey_change</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Passkey_change</servlet-name>
    <url-pattern>/Passkey_change</url-pattern>
    <url-pattern>/chgpwd</url-pattern>
  </servlet-mapping>
</web-app>